<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
  <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

  <link rel="stylesheet" type="text/css" href="/css/common.css" />
  <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
  <link rel="stylesheet" type="text/css" href="/css/headroom.css" />
  <link rel="stylesheet" type="text/css" href="\src\views\layouts\ShopPage\ShopPage.css" />
  <link rel="stylesheet" type="text/css" href="\src\views\partials\Header\Header0.css" />
  <link rel="stylesheet" type="text/css" href="\src\views\partials\Footer\Footer.css" />

  <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/px2code/posize/build/v1.01.0.js"></script>
</head>

<body class="flex-column">
  <header id="header" class="headroom">
    <nav class="max:show">
      <!-- prettier-ignore -->
      <div class="header0 header0__group1">
        <div class="header0__flexRow">
          <h2 class="header0__medium_title" onclick="alert(`It is clickable`)">Urusta.</h2>
          <div class="spacer"></div>
          <div class="header0__box">
            <div class="header0__flexRow1">
              <div class="cell">
                <px-grid track-style="flex-grow: 1;" x="7.02px 70.98fr 24fr" y="0px minmax(0px, max-content) 0fr">
                  <div class="header0__txt" onclick="alert(`It is clickable`)">Shop</div>
                </px-grid>
              </div>
              <div class="cell1">
                <h4 class="header0__highlights2" onclick="alert(`It is clickable`)">Our Story</h4>
              </div>
              <div class="spacer"></div>
              <div class="header0__rect5"></div>
              <div class="spacer1"></div>
              <div class="cell2">
                <img src="\src\views\partials\assets\d652c1328e3779d6ed57fa1af8dbec68.png" alt="alt text"
                  class="header0__image10" onclick="alert(`It is clickable`)" />
              </div>
              <div class="spacer2"></div>
              <div class="cell3">
                <img src="\src\views\partials\assets\c17d264818e2602d684362f3a37cf356.png" alt="alt text"
                  class="header0__icon1" onclick="window.location.href='/src/views/layouts/Cart/Cart.html'" />
              </div>
              <div class="spacer2"></div>
              <div class="cell2">
                <img src="\src\views\partials\assets\5f10cef3f154249dc60ba91722a6524f.png" alt="alt text"
                  class="header0__icon" onclick="alert(`It is clickable`)" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <main class="shop-page main">
    <div class="cell">
      <!-- ======= section1 ======= -->
      <section class="section1__section1">
        <div class="section1__flexRow">
          <div class="section1__flexCol">
            <h1 class="section1__title">Shop The Latest</h1>
            <div class="section1__flexCol1">
              <div class="section1__group">
                <img src="\src\views\partials\assets\7b5320c4022bb8608c293d2d88bb1e61.png" alt="alt text"
                  class="section1__image7" />
                <div class="section1__flexCol2">
                  <div class="section1__text1">Search...</div>
                  <hr size="1" class="section1__line1" />
                </div>
              </div>
              <div class="section1__flexCol3">
                <div class="cell">
                  <div class="section1__rect1"></div>
                </div>
                <div class="cell1">
                  <div class="section1__text">Shop By</div>
                </div>
                <div class="cell2">
                  <px-grid track-style="flex-grow: 1;" x="314fr 19px 16fr" y="0px minmax(0px, max-content) 0px"><img
                      class="section1__image4" src="\src\views\partials\assets\fbd99ef7f9fd42c75081c7ba23d60380.png"
                      alt="alt text" onclick="alert(`It is clickable`)" /></px-grid>
                </div>
                <div class="cell3">
                  <div class="section1__rect11"></div>
                </div>
                <div class="cell4">
                  <div class="section1__text">Sort By</div>
                </div>
                <div class="cell5">
                  <px-grid track-style="flex-grow: 1;" x="314fr 19px 16fr" y="0px minmax(0px, max-content) 0px"><img
                      class="section1__image4" src="\src\views\partials\assets\fbd99ef7f9fd42c75081c7ba23d60380.png"
                      alt="alt text" onclick="alert(`It is clickable`)" /></px-grid>
                </div>
              </div>
              <div class="section1__flexCol4">
                <div class="cell">
                  <div class="section1__rect2"></div>
                </div>
                <div class="cell1">
                  <div class="section1__rect21"></div>
                </div>
                <div class="cell2">
                  <div class="section1__flexCol5">
                    <div class="cell">
                      <img src="\src\views\partials\assets\f70ee40f98a3a895ecb2450f65325f10.png" alt="alt text"
                        class="section1__image6" />
                    </div>
                    <div class="section1__text11">Price: $300 - $1500</div>
                  </div>
                </div>
                <div class="cell3">
                  <hr size="1" class="section1__line" />
                </div>
                <div class="cell4">
                  <div class="section1__text2">Filter</div>
                </div>
              </div>
              <div class="section1__flexRow1">
                <div class="section1__flexCol6">
                  <h5 class="section1__highlights">On sale</h5>
                  <h5 class="section1__highlights1">In stock</h5>
                </div>
                <div class="spacer"></div>
                <div class="section1__flexCol7">
                  <div class="cell">
                    <img src="\src\views\partials\assets\5f39f909f1670812e2ef9abe3b09163a.png" alt="alt text"
                      class="section1__image5" onclick="alert(`It is clickable`)" />
                  </div>
                  <div class="cell">
                    <img src="\src\views\partials\assets\5f39f909f1670812e2ef9abe3b09163a.png" alt="alt text"
                      class="section1__image51" onclick="alert(`It is clickable`)" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="spacer"></div>
          <div class="section1__flexRow2" data-aos="fade-up">
            <div class="cell">
              <div class="section1__flexCol8" onclick="alert(`It is clickable`)">
                <div class="cell">
                  <img src="\src\views\partials\assets\1eef544168a037e4a08cce2cbbf47d86.png" alt="alt text"
                    class="section1__image2" onclick="alert(`It is clickable`)" />
                </div>
                <h3 class="section1__subtitle">Lattissima one</h3>
                <h3 class="section1__subtitle1">$ 660</h3>
              </div>
            </div>
            <div class="cell1">
              <div class="section1__flexCol9" onclick="alert(`It is clickable`)">
                <div style="
                      --src: url(\src\views\partials\assets\373b6af1c8dcfddc3169464dae0c165e.png);
                    " class="section1__content_box1" onclick="alert(`It is clickable`)">
                  <div class="section1__content_box">
                    <div class="section1__info">- %20</div>
                  </div>
                </div>
                <div class="section1__flexCol10">
                  <h3 class="section1__subtitle2">Nespresso Atelier</h3>
                  <h3 class="section1__subtitle1">$ 550</h3>
                </div>
              </div>
            </div>
            <div class="spacer"></div>
            <div class="section1__flexCol11" onclick="alert(`It is clickable`)">
              <div class="cell">
                <img src="\src\views\partials\assets\9d9f68ed2e69fe48a36b39fe02c20e0f.png" alt="alt text"
                  class="section1__image" onclick="alert(`It is clickable`)" />
              </div>
              <h3 class="section1__subtitle">CitiZ</h3>
              <h3 class="section1__subtitle1">$ 350</h3>
            </div>
            <div class="cell2">
              <div class="section1__flexCol12" onclick="alert(`It is clickable`)">
                <div style="
                      --src: url(\src\views\partials\assets\a9c7eb1de574413083ee6a0052b6c542.png);
                    " class="section1__content_box3" onclick="alert(`It is clickable`)">
                  <div class="section1__content_box2">
                    <div class="section1__info1">Sold out</div>
                  </div>
                </div>
                <h3 class="section1__subtitle">Pixie</h3>
                <h3 class="section1__subtitle11">$ 400</h3>
              </div>
            </div>
            <div class="spacer"></div>
            <div class="cell3">
              <img src="\src\views\partials\assets\1e9c3112bb41a86f4438722dcbfc0752.png" alt="alt text"
                class="section1__image1" onclick="alert(`It is clickable`)" />
            </div>
            <div class="cell4">
              <div class="section1__flexCol8" onclick="alert(`It is clickable`)">
                <div class="cell1">
                  <img src="\src\views\partials\assets\0b7472f22e8a70a6a61fadb5a70c514f.png" alt="alt text"
                    class="section1__image3" onclick="alert(`It is clickable`)" />
                </div>
                <h3 class="section1__subtitle2">Creatista Plus</h3>
                <h3 class="section1__subtitle1">$ 750</h3>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ======= End section1 ======= -->
    </div>
    <div class="section2">
      <!-- prettier-ignore -->
      <section class="footer footer__section2">
        <hr size="1" class="footer__line" />
        <div class="footer__group">
          <div class="footer__nullContent">
            <div class="footer__flexCol">
              <div class="footer__flexRow">
                <h5 class="footer__highlights1" onclick="alert(`It is clickable`)">CONTACT</h5>
                <div class="spacer"></div>
                <h5 class="footer__highlights11" onclick="alert(`It is clickable`)">TERMS OF SERVICES</h5>
                <div class="spacer1"></div>
                <h5 class="footer__highlights12" onclick="alert(`It is clickable`)">SHIPPING AND RETURNS</h5>
              </div>
              <h5 class="footer__highlights_box">
                <span class="footer__highlights"><span class="footer__highlights_span0">© 2023 MadMach.</span><span
                    class="footer__highlights_span1"> Terms of use </span><span
                    class="footer__highlights_span2">and</span><span class="footer__highlights_span3"> privacy
                    policy.</span></span>
              </h5>
            </div>
            <div class="spacer"></div>
            <div class="footer__flexCol1">
              <div class="footer__flexCol2">
                <div class="footer__group1">
                  <img src="\src\views\partials\assets\b7e1c0cf5ea9d66d3515dc9f50dccd61.png" alt="alt text"
                    class="footer__image1" onclick="alert(`It is clickable`)" />
                  <h5 class="footer__highlights13">Give an email, get the newsletter.</h5>
                </div>
                <hr size="1" class="footer__line1" />
              </div>
            </div>
          </div>
          <img src="\src\views\partials\assets\eb08941b8a6fe08d5d6166df2f6af99b.png" alt="alt text"
            class="footer__image2" />
        </div>
      </section>
    </div>
  </main>
  <script type="text/javascript">
    AOS.init();

    const header = document.querySelector("#header");
    if (header) {
      const headroom = new Headroom(header);
      headroom.init();
    }
  </script>
</body>

</html>