<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

  <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

  <link rel="stylesheet" type="text/css" href="/css/common.css" />
  <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
  <link rel="stylesheet" type="text/css" href="/css/headroom.css" />
  <link rel="stylesheet" type="text/css" href="\src\views\layouts\HomePage\HomePage.css" />
  <link rel="stylesheet" type="text/css" href="\src\views\partials\Header\HeaderHomePage.css" />
  <link rel="stylesheet" type="text/css" href="\src\views\partials\Footer\Footer.css" />


  <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
</head>

<body class="flex-column">
  <main class="home-page main">
    <div class="cell">
      <!-- ======= section1 ======= -->
      <section class="section1__section1">
        <div class="section1__group">
          <div class="section1__flexCol">
            <div class="section1__flexCol1">
              <div class="cell">
                <div class="section1__rect"></div>
              </div>
              <div class="cell1">
                <img src="\src\views\partials\assets\d772c386555967597ceee86f3c3e43c8.png" alt="alt text"
                  class="section1__image" />
              </div>
            </div>
            <div class="cell">
              <div class="section1__group1">
                <img src="\src\views\partials\assets\54d627dd9c8c9cec425bd49850edc281.png" alt="alt text"
                  class="section1__decorator" />
                <div class="section1__flexCol">
                  <div class="section1__flexCol1">
                    <h1 class="section1__hero_title">Caffeinated Journey</h1>
                    <h2 class="section1__medium_title">
                      Explore our world of exquisite coffee.<br />Elevate your
                      experience with captivating flavors and premium
                      products. <br />Join us on this caffeinated journey.<br /><br />Welcome
                      to the ultimate coffee destination.
                    </h2>
                  </div>
                  <div class="section1__box" onclick="alert(`It is clickable`)">
                    <div class="cell">
                      <h2 class="section1__medium_title1">Shop Now</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section1__component">
          <!-- prettier-ignore -->
          <div class="header-home-page header-home-page__wrapper">
            <div style="--src:url(\src\views\partials\assets\71a39aead45d185097de40b8868cc43a.png)"
              class="header-home-page__wrapper1">
              <div class="header-home-page__flexRow">
                <h2 class="header-home-page__medium_title2" onclick="alert(`It is clickable`)">Urusta.</h2>
                <div class="spacer"></div>
                <h4 class="header-home-page__highlights2" onclick="alert(`It is clickable`)">Shop</h4>
                <div class="spacer1"></div>
                <h4 class="header-home-page__highlights21" onclick="alert(`It is clickable`)">Our Story</h4>
                <div class="spacer2"></div>
                <div class="header-home-page__rect1"></div>
                <div class="spacer3"></div>
                <div class="cell">
                  <img src="\src\views\partials\assets\0546d2235c8e03bac4880ef1773730f0.png" alt="alt text"
                    class="header-home-page__image4" onclick="alert(`It is clickable`)" />
                </div>
                <div class="spacer4"></div>
                <div class="cell1">
                  <img src="\src\views\partials\assets\afd90b832af44449bd9687911126f2b7.png" alt="alt text"
                    class="header-home-page__icon1" onclick="alert(`It is clickable`)" />
                </div>
                <div class="spacer4"></div>
                <div class="cell">
                  <img src="\src\views\partials\assets\97bcccc35033c74b6a40d5f7fbb33516.png" alt="alt text"
                    class="header-home-page__icon" onclick="alert(`It is clickable`)" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ======= End section1 ======= -->
    </div>
    <div class="section2">
      <!-- prettier-ignore -->
      <section class="footer footer__section2">
        <hr size="1" class="footer__line" />
        <div class="footer__group">
          <div class="footer__nullContent">
            <div class="footer__flexCol">
              <div class="footer__flexRow">
                <h5 class="footer__highlights1" onclick="alert(`It is clickable`)">CONTACT</h5>
                <div class="spacer"></div>
                <h5 class="footer__highlights11" onclick="alert(`It is clickable`)">TERMS OF SERVICES</h5>
                <div class="spacer1"></div>
                <h5 class="footer__highlights12" onclick="alert(`It is clickable`)">SHIPPING AND RETURNS</h5>
              </div>
              <h5 class="footer__highlights_box">
                <span class="footer__highlights"><span class="footer__highlights_span0">© 2023 MadMach.</span><span
                    class="footer__highlights_span1"> Terms of use </span><span
                    class="footer__highlights_span2">and</span><span class="footer__highlights_span3"> privacy
                    policy.</span></span>
              </h5>
            </div>
            <div class="spacer"></div>
            <div class="footer__flexCol1">
              <div class="footer__flexCol2">
                <div class="footer__group1">
                  <img src="\src\views\partials\assets\b7e1c0cf5ea9d66d3515dc9f50dccd61.png" alt="alt text"
                    class="footer__image1" onclick="alert(`It is clickable`)" />
                  <h5 class="footer__highlights13">Give an email, get the newsletter.</h5>
                </div>
                <hr size="1" class="footer__line1" />
              </div>
            </div>
          </div>
          <img src="\src\views\partials\assets\eb08941b8a6fe08d5d6166df2f6af99b.png" alt="alt text"
            class="footer__image2" />
        </div>
      </section>
    </div>
  </main>
  <script type="text/javascript">
    AOS.init();
  </script>
</body>

</html>