.reset-password.root {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
}
.reset-password .flexCol {
  display: flex;
  flex-direction: column;
  width: 41.15%;
  position: relative;
  margin: 220px auto 0px;
}
@media (max-width: 991px) {
  .reset-password .flexCol {
    width: 48.24%;
  }
}
@media (max-width: 767px) {
  .reset-password .flexCol {
    width: 55.41%;
  }
}
@media (max-width: 575px) {
  .reset-password .flexCol {
    width: 62.36%;
  }
}
@media (max-width: 479px) {
  .reset-password .flexCol {
    width: 68.84%;
  }
}
@media (max-width: 383px) {
  .reset-password .flexCol {
    width: 74.65%;
  }
}
.reset-password .title {
  display: flex;
  font: 500 33px/1.3 "DM Sans", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  letter-spacing: 0px;
  width: 71.39%;
  position: relative;
  margin: 0px auto;
}
@media (max-width: 2999px) {
  .reset-password .title {
    text-align: center;
    justify-content: center;
  }
}
@media (max-width: 1199px) {
  .reset-password .title {
    font-size: 28px;
  }
}
@media (max-width: 991px) {
  .reset-password .title {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .reset-password .title {
    font-size: 20px;
    width: 76.89%;
  }
}
@media (max-width: 575px) {
  .reset-password .title {
    width: 81.61%;
  }
}
@media (max-width: 479px) {
  .reset-password .title {
    width: 85.54%;
  }
}
@media (max-width: 383px) {
  .reset-password .title {
    font-size: 12px;
    width: 88.75%;
  }
}
.reset-password .subtitle {
  display: flex;
  justify-content: center;
  font: 400 20px/1.3 "DM Sans", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  text-align: center;
  letter-spacing: 0px;
  position: relative;
  margin: 32px 7px 0px 0px;
}
@media (max-width: 1199px) {
  .reset-password .subtitle {
    font-size: 16px;
  }
}
@media (max-width: 383px) {
  .reset-password .subtitle {
    font-size: 12px;
  }
}
.reset-password .flexCol1 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 62px 0px 0px;
}
.reset-password .highlights1 {
  font: 400 16px/1.68 "DM Sans", Helvetica, Arial, serif;
  color: rgb(112, 112, 112);
  letter-spacing: 0px;
  position: relative;
}
@media (max-width: 1199px) {
  .reset-password .highlights1 {
    font-size: 12px;
    text-align: left;
  }
}
.reset-password .line {
  background-color: rgb(216, 216, 216);
  height: 1px;
  position: relative;
  margin: 12px 0px 0px;
}
.reset-password .content_box {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  border-radius: 4px 4px 4px 4px;
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: -1px;
  width: 65.82%;
  cursor: pointer;
  position: relative;
  margin: 63px auto 0px;
}
@media (max-width: 575px) {
  .reset-password .content_box {
    width: 71.96%;
  }
}
@media (max-width: 479px) {
  .reset-password .content_box {
    width: 77.39%;
  }
}
@media (max-width: 383px) {
  .reset-password .content_box {
    width: 82.02%;
  }
}
.reset-password .highlights {
  display: flex;
  font: 700 18px/1.27 "DM Sans", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  width: 30.38%;
  position: relative;
  flex-grow: 1;
  margin: 16px auto 14px;
}
@media (max-width: 2999px) {
  .reset-password .highlights {
    text-align: center;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .reset-password .highlights {
    font-size: 12px;
  }
}
.reset-password .component {
  position: relative;
  margin: 277px 0px 0px;
}
